# Port configuration
PORT=9205

# MongoDB Atlas connection string
# Get this from: https://www.mongodb.com/cloud/atlas
MONGODB_URI=mongodb+srv://username:password@cluster-name.mongodb.net/?appName=SmartPay

# MQTT Broker configuration
# Make sure your MQTT broker is running on your VPS
MQTT_BROKER=mqtt://157.173.101.159:1883

# Node environment
NODE_ENV=production
